html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
}

#wrap > .container {
  padding: 60px 15px 0;
}
.container .credit {
  margin: 20px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}

code {
  font-size: 80%;
}

#todolist tr.task-completed > td {
    text-decoration: line-through;
}

#todolist tr > td.button {
    visibility: hidden;
}

#todolist tr:hover > td.button {
    visibility: visible;
    text-decoration: none;
}

.button a:focus {
    outline: none;
    cursor: pointer;
}

.button a {
    cursor: pointer;
}

.add-button {
    padding-bottom: 5px;
}

tr.overdue > td:last-child {
    color: red;
}

ul.pager > li > a {
    cursor: pointer;
}
