<li{% if active_tab == "index" %} class="active"{% endif %}><a href="{% url "index" %}">Main</a></li>
{% if user.is_authenticated %}
    <li{% if active_tab == "password_change" %} class="active"{% endif %}><a href="{% url "django.contrib.auth.views.password_change" %}">Change password</a></li>
    <li{% if active_tab == "logout" %} class="active"{% endif %}><a href="{% url "django.contrib.auth.views.logout" %}"><span class="glyphicon glyphicon-log-out"></span></a></li>
    <li{% if active_tab == "help" %} class="active"{% endif %}><a href="{% url "help" %}"><span class="glyphicon glyphicon-question-sign"></span></a></li>
{% else %}
    <li{% if active_tab == "register" %} class="active"{% endif %}><a href="{% url "registration_register" %}">Sign up</a></li>
    <li{% if active_tab == "login" %} class="active"{% endif %}><a href="{% url "django.contrib.auth.views.login" %}"><span class="glyphicon glyphicon-log-in"></span></a></li>
{% endif %}
