{% extends "base.html" %}
{% load static from staticfiles %}
{% block title %}ToDo{% endblock %}
{% block menu %}
    {% include "include_menu.html" with active_tab='index' %}
{% endblock %}
{% block content %}
    {% if user.is_authenticated %}
        <span class='pull-left label label-danger' data-bind='text: error, visible: error()'></span>
        <div class='text-right add-button'>
            <span class='form-inline'>
                <input type="text" class="form-control" placeholder="Filter" style='width: 15%' data-bind='value: filter_str, valueUpdate: "afterkeydown"'>
            </span>
            <button class="btn btn-small" data-bind='css: { "active": show_completed() }, click: toggleShowCompleted'>
                <span class="glyphicon" data-bind='css: { "glyphicon-ok-circle": show_completed(), "glyphicon-ban-circle": !show_completed() }'></span>
                <span data-bind='text: show_completed() ? "Show completed" : "Hide completed"'></span>
            </button>
            <button type='button' class='btn' data-bind="click: addTodo, enable: !edition()">Add</button>
        </div>
        <table class='table table-hover' id="todolist">
            <tr>
                <th style='width: 10%'>{# Buttons #}</th>
                <th class='text-center'>Description</th>
                <th style='width: 10%' class='text-center button'>
                    Priority
                    <a data-bind="attr: { title: prio_sort() == 0 ? 'Unsorted' : (prio_sort() == 1 ? 'Sorted ascending': 'Sorted descending' ) }, click: togglePrioSort">
                        <span class="glyphicon" data-bind="css: { 'glyphicon-sort': prio_sort() == 0, 'glyphicon-sort-by-attributes': prio_sort() == 1, 'glyphicon-sort-by-attributes-alt': prio_sort() == 2 }"></span>
                    </a>
                </th>
                <th style='width: 15%' class='text-center button'>
                    Due date
                    <a data-bind="attr: { title: due_sort() == 0 ? 'Unsorted' : (due_sort() == 1 ? 'Sorted ascending' : 'Sorted descending' ) }, click: toggleDueSort">
                        <span class="glyphicon" data-bind="css: { 'glyphicon-sort': due_sort() == 0, 'glyphicon-sort-by-attributes': due_sort() == 1, 'glyphicon-sort-by-attributes-alt': due_sort() == 2 }"></span>
                    </a>
                </th>
            </tr>
            <tbody data-bind="foreach: todolist">
                <tr data-bind="css: { 'task-completed': completed(), 'overdue': due() < $.datepicker.formatDate('yy-mm-dd', new Date()) && !completed() }, visible: !editable(), attr: { title: due() < $.datepicker.formatDate('yy-mm-dd', new Date()) ? 'Overdue!' : '' }">
                    <td class="button">
                        <a data-bind="attr: { title: completed() ? 'Uncheck' : 'Check' }, click: toggleTodo"><span class="glyphicon" data-bind="css: { 'glyphicon-check': completed(), 'glyphicon-unchecked': completed() == false }"></span></a>
                        <a title="Edit" data-bind="click: editTodo"><span class="glyphicon glyphicon-edit"></span></a>
                        <a title="Delete" data-bind="click: deleteTodo"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                    <td data-bind="text: text"></td>
                    <td data-bind="text: priority" class='text-center'></td>
                    <td data-bind="text: due" class='text-center'></td>
                </tr>
                <tr data-bind="visible: editable(), validationOptions: { insertMessages: false }" class='form-inline'>
                    <td><button type="button" class="btn btn-default btn-sm" data-bind='click: doneEdit'>Done</button></td>
                    <td><input data-bind="value: text" class="form-control" /></td>
                    <td><select data-bind="value: priority, options: $parent.availablePriorities" class="form-control"></select></td>
                    <td><input data-bind="value: due" class="form-control datefield" /></td>
                </tr>
            </tbody>
        </table>
        <ul class="pager" data-bind='visible: pager.total_pages() > 1'>
            <li><a data-bind="click: pager.first">First</a></li>
            <li><a data-bind="click: pager.prev">Prev</a></li>
            <li data-bind="text: pager.page() + '/' + pager.total_pages()"></li>
            <li><a data-bind="click: pager.next">Next</a></li>
            <li><a data-bind="click: pager.last">Last</a></li>
        </ul>
    {% else %}
        <h1>Welcome!</h1>
        <p>You need to <a href="{% url "registration_register" %}">sign up</a> for this service, to maintain your ToDo list.</p>
        <p>If you are already registered, please <a href="{% url "django.contrib.auth.views.login" %}">log in.</a></p>
    {% endif %}
{% endblock %}
{% block extracss %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-1.10.3.custom.min.css' %}" />
{% endblock %}
{% block extrajs %}
    {% if user.is_authenticated %}
        <script src="{% static 'js/knockout-2.3.0.js' %}"></script>
        <script src="{% static 'js/knockout.mapping-2.4.1.js' %}"></script>
        <script src="{% static 'js/knockout.validation.min.js' %}"></script>
        <script src="{% static 'js/jquery.blockUI.js' %}"></script>
        <script src="{% static 'js/jquery.cookie.js' %}"></script>
        <script src="{% static 'js/jquery-ui-1.10.3.custom.min.js' %}"></script>
        <script>
            var ITEMS_PER_PAGE = {{ items_per_page }};
            // from http://lions-mark.com/jquery/scrollTo/
            $.fn.scrollTo = function( target, options, callback ){
              if(typeof options == 'function' && arguments.length == 2){ callback = options; options = target; }
              var settings = $.extend({
                scrollTarget  : target,
                offsetTop     : 50,
                duration      : 500,
                easing        : 'swing'
              }, options);
              return this.each(function(){
                var scrollPane = $(this);
                var scrollTarget = (typeof settings.scrollTarget == "number") ? settings.scrollTarget : $(settings.scrollTarget);
                var scrollY = (typeof scrollTarget == "number") ? scrollTarget : scrollTarget.offset().top + scrollPane.scrollTop() - parseInt(settings.offsetTop);
                scrollPane.animate({scrollTop : scrollY }, parseInt(settings.duration), settings.easing, function(){
                  if (typeof callback == 'function') { callback.call(this); }
                });
              });
            };

            function blockUI() {
                $.blockUI({ message: '<img src="{% static 'img/ajax-loader.gif' %}" />Please wait...', bindEvents: false });
            }
            function updateList() {
                blockUI();
                var offset = ITEMS_PER_PAGE * (viewModel.pager.page() - 1);
                if(offset < 0)
                    offset = 0;
                var completed = '';
                var filter_param = '';
                if(viewModel.filter_str())
                    filter_param = '&text__contains=' + viewModel.filter_str();
                if(!viewModel.show_completed())
                    completed = '&completed__exact=false';
                $.getJSON('{% url "api_dispatch_list" "v1" "todo"  %}?format=json&limit=' + ITEMS_PER_PAGE + '&offset=' + offset + sorting + completed + filter_param, function(data) {
                    var total_count = data.meta.total_count;
                    data = { todolist: data.objects };
                    var i, len = data.todolist.length;
                    for(i = 0; i < len; i++) {
                        data.todolist[i].editable = ko.observable(false);
                        data.todolist[i].due = ko.observable(data.todolist[i].due).extend({
                            required: false,
                            dateISO: true,
                        });
                    }
                    data.edition = ko.observable(false);
                    ko.mapping.fromJS(data, viewModel);
                    viewModel.pager.total_pages(Math.ceil(total_count / ITEMS_PER_PAGE));
                    if(viewModel.pager.page() > viewModel.pager.total_pages()) {
                        viewModel.pager.page(viewModel.pager.total_pages());
                        updateList();
                    }
                });
            }
            function toggleTodo() {
                var object = this;
                var state = !this.completed();
                blockUI();
                $.ajax({
                    url: '{% url "api_dispatch_detail" "v1" "todo" "xxx" %}?format=json'.replace('xxx', this.id()),
                    method: 'PUT',
                    cache: false,
                    data: JSON.stringify({ completed: state }),
                    success: function(data) {
                        object.completed(state);
                    }
                });
            }
            function deleteTodo() {
                blockUI();
                $.ajax({
                    url: '{% url "api_dispatch_detail" "v1" "todo" "xxx" %}?format=json'.replace('xxx', this.id()),
                    method: 'DELETE',
                    cache: false,
                    success: function() {
                        updateList();
                    }
                });
            }
            function addTodo() {
                viewModel.todolist.push({
                    id: ko.observable(0),
                    text: ko.observable(''),
                    due: ko.observable('').extend({
                        required: false,
                        dateISO: true,
                    }),
                    completed: ko.observable(false),
                    priority: ko.observable(''),
                    editable: ko.observable(true)
                });
                viewModel.edition(true);
                $(".datefield").datepicker({ dateFormat: "yy-mm-dd" });
                $('html').scrollTo($("input.datefield:visible").parent().parent());
            }
            function editTodo() {
                if(viewModel.edition()) return;
                this.editable(true);
                viewModel.edition(true);
                $(".datefield").datepicker({ dateFormat: "yy-mm-dd" });
            }
            function doneEdit() {
                var val_obj = ko.validatedObservable(this);
                var object = this;
                if(!val_obj.isValid()) {
                    viewModel.error('Date must be in YYYY-MM-DD format.');
                    setTimeout(function() {viewModel.error('');}, 10000);
                    return;
                }

                viewModel.error('');
                viewModel.edition(false);
                var method;
                var url;
                if(object.id() == 0) { // new item
                    method = 'POST';
                    url = '{% url "api_dispatch_list" "v1" "todo" %}?format=json';
                }
                else {
                    method = 'PUT';
                    url = '{% url "api_dispatch_detail" "v1" "todo" "xxx" %}?format=json'.replace('xxx', object.id());
                }
                if(object.due() == '')
                    object.due(null);
                $.ajax({
                    url: url,
                    method: method,
                    cache: false,
                    data: ko.toJSON(object),
                    success: function() {
                        updateList();
                    }
                });
            }
            function toggleDueSort() {
                resort(viewModel.due_sort);
            }
            function togglePrioSort() {
                resort(viewModel.prio_sort);
            }
            function resort(field) {
                var new_s = field();
                new_s += 1;
                if(new_s == 3)
                    new_s = 0;
                field(new_s);

                var name;
                if(field == viewModel.due_sort)
                    name = 'due';
                if(field == viewModel.prio_sort)
                    name = 'priority';
                if(new_s == 0)
                    sorting_array.splice(sorting_array.indexOf("-" + name), 1);
                if(new_s == 1)
                    sorting_array.push(name);
                if(new_s == 2)
                    sorting_array.splice(sorting_array.indexOf(name), 1, "-" + name);
                if(sorting_array.length > 0)
                    sorting = '&order_by=' + sorting_array.join('&order_by=');
                else
                    sorting = '';
                updateList();
            }
            function toggleShowCompleted() {
                viewModel.show_completed(!viewModel.show_completed());
                updateList();
            }

            var viewModel;
            var sorting = '';
            var sorting_array = new Array();
            $(function() {
                var data = { todolist: {{ data|safe }} }; // get initial data w/o ajax
                var i, len = data.todolist.length;
                for(i = 0; i < len; i++) {
                    data.todolist[i].editable = ko.observable(false);
                }
                data.edition = ko.observable(false);
                viewModel = ko.mapping.fromJS(data);
                viewModel.availablePriorities = ko.observableArray({{ available_priorities|safe }});
                viewModel.due_sort = ko.observable(0);
                viewModel.prio_sort = ko.observable(0);
                viewModel.error = ko.observable('');
                viewModel.show_completed = ko.observable(true);
                viewModel.pager = {
                    page: ko.observable(1),
                    total_pages: ko.observable({{ max_pages }}),
                    prev: function() {
                        var cur = viewModel.pager.page();
                        cur -= 1;
                        if(cur != 0) {
                            viewModel.pager.page(cur);
                            updateList();
                        }
                    },
                    next: function() {
                        var cur = viewModel.pager.page();
                        cur += 1;
                        if(cur != viewModel.pager.total_pages() + 1) {
                            viewModel.pager.page(cur);
                            updateList();
                        }
                    },
                    first: function() {
                        viewModel.pager.page(1);
                        updateList();
                    },
                    last: function() {
                        viewModel.pager.page(viewModel.pager.total_pages());
                        updateList();
                    }
                };
                viewModel.filter_str = ko.observable('');
                viewModel.filter_str.subscribe(function(){
                    updateList();
                });
                ko.applyBindings(viewModel);

                window.onbeforeunload = function() {
                    if(viewModel.edition()) {
                        return "You have started editing ToDo item."
                    }
                }

                var csrftoken = $.cookie('csrftoken');
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                function sameOrigin(url) {
                    // test that a given url is a same-origin URL
                    // url could be relative or scheme relative or absolute
                    var host = document.location.host; // host + port
                    var protocol = document.location.protocol;
                    var sr_origin = '//' + host;
                    var origin = protocol + sr_origin;
                    // Allow absolute or scheme relative URLs to same origin
                    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
                        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
                        // or any other URL that isn't scheme relative or absolute i.e relative.
                        !(/^(\/\/|http:|https:).*/.test(url));
                }
                $.ajaxSetup({
                    beforeSend: function(xhr, settings) {
                        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
                            // Send the token to same-origin, relative URLs only.
                            // Send the token only if the method warrants CSRF protection
                            // Using the CSRFToken value acquired earlier
                            xhr.setRequestHeader("X-CSRFToken", csrftoken);
                        }
                    },
                    contentType: "application/json; charset=utf-8",
                    error: function(data) {
                        viewModel.error('Error communicating with server');
                        setTimeout(function() {viewModel.error('');}, 3000);
                    }
                });
                $(document).ajaxStop($.unblockUI);
            });
        </script>
    {% endif %}
{% endblock %}
