body {
  font-family: "Helvetica Neue", "Helvetica", "Verdana", Arial, sans-serif;
  color: #4f4f4f;
  background-color: #eaeaea;
}

h1, h2, h3, h4 {
  color: #666666;
  text-align: center;
}

h1 {
  font-size: 4em;
}

h2 {
  margin-top: 0.25em;
  font-weight: 300;
}

h3 {
  margin-top: 0.25em;
  font-weight: 300;
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
  margin-bottom: 1.25em;
}

h4.pounds {
  text-align: center;
  margin: 20px 0;
}

.header {
  margin-bottom: 3em;
}

.row {
  margin-top: 2em;  
}

.input-group {
  margin-bottom: 10px;
}

.input-group-addon.leading { 
  width: 70px; 
} 

.input-group-addon.trailing { 
  width: 25px; 
} 

[class*='col-'] > div {
  border: 3px solid #ccc;
  height: 200px;
}

[class*='col-'] > #elm-goes-here {
  border: none;
  height: 300px;
}

[class*='col-'] > div.app-1,
[class*='col-'] > div.app-2,
[class*='col-'] > div.app-3,
[class*='col-'] > div.app-5,
[class*='col-'] > div.app-6 {
  height: 200px;
}

[class*='col-'] > div.app-4 {
  height: 300px;
}
